<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="language-extender.ZPM">
    <Module>
      <Name>language-extender</Name>
      <Description>Add customized Language Extensions programmatically</Description>
      <Version>0.0.5</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="zLangExtender.MAC"/>
      <Resource Name="zLangExample.MAC"/>
    </Module>
  </Document>
</Export>
